<div id="new-request-form">
  <%= form_for @request do |f| %>
    <h3 class="center">NEW REQUEST</h3>
    <div class="input-field col-md-12">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="input-field col-md-6">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
    <div class="input-field col-md-6">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="input-field col-md-6">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="input-field col-md-6">
      <%= f.label :square_footage %>
      <%= f.text_field :square_footage, class: "form-control" %>
    </div>
    <div class="input-field col-md-12">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="submit-btn-wrapper">
      <%= f.submit "Submit Request", class: "btn btn-form" %>
    </div>
  <% end %>
</div>
