
<div class="card white">
<div class="row">
  <div class="card-content black-text">

  <%= form_for @request do |f| %>
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="input-field col s6">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
    <div class="input-field col s6">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="input-field col s6">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="input-field col s6">
      <%= f.label :square_footage %>
      <%= f.text_field :square_footage, class: "form-control" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :description %>
      <%= f.text_area :description, class: "materialize-textarea" %>
    </div>

    <%= f.submit "Submit Request", class: "btn", style: "margin-left: 1%;" %>
  <% end %>
</div>
</div>
</div>
