<div class="portfolio-gallery">
  <%= image_tag 'hous1-compressor' %>
  <%= image_tag 'hous2-compressor' %>
  <%= image_tag 'hous3' %>
  <%= image_tag 'hous4-compressor' %>
  <%= image_tag 'hous5' %>
  <%= image_tag 'hous6' %>
</div>
<div class="arrows">

</div>
