<!DOCTYPE html>
<html>
<head>
  <title>ValgreenPainting</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oxygen:400,700' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav-wrapper">
    <%= link_to "Valgreen Painting", pages_path, class: "brand-logo", style: "margin-left: 10px;" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Something, maybe", contact_path %></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
