<!DOCTYPE html>
<html>
<head>
  <title>ValgreenPainting</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic|Oswald:400,300,700' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="logo" href="/"><%= image_tag 'valgreen' %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Request</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid site-wrapper">
  <%= yield %>
</div>

<script type="text/javascript">
  var screenHeight = window.innerHeight
  $(window).scroll(function() {
    if (window.scrollY > (screenHeight-50)) {
      document.getElementById("navbar").style.background = "rgba(255,255,255,0.9)";
    } else {
      document.getElementById("navbar").style.background = "transparent";
    }
  });
</script>

</body>
</html>
