<!DOCTYPE html>
<html>
<head>
  <title>ValgreenPainting</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic|Oswald:400,300,700' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-fixed-top navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'valgreen', id:"logo" %></a>
      <a class="navbar-brand" href="/"><%= image_tag 'valgreen2', id:"logo2" %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Request</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid site-wrapper">
  <%= yield %>
</div>

<script type="text/javascript">
  var screenHeight = window.innerHeight
  $(window).scroll(function() {
    if (window.scrollY > (screenHeight-30)) {
      $("#logo").hide();
      $("#logo2").show();
    } else if (window.scrollY < (screenHeight-30)) {
      $("#logo2").hide();
      $("#logo").show();
    }
  });
</script>

</body>
</html>
